extends layout

block content
  h1= title
  a(href='/newMsg').newMsgLink New Message
  .message
    each message in messages
      .message-container
        h3.msgTopic=message.topic
        p.msgTitle=message.text
        p.msgUser=message.user
        p.msgDate=message.added
